In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_feather("tmp/Bulldozers_1")

<h1>Missing Value</h1>

In [3]:
d = {"a":[1,2,3,4,4,np.nan], "b":[1,2,3,3,4,5]}
toy = pd.DataFrame(d)

In [4]:
toy

     a  b
0  1.0  1
1  2.0  2
2  3.0  3
3  4.0  3
4  4.0  4
5  NaN  5

In [5]:
toy.isnull()

       a      b
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5   True  False

In [9]:
pd.isnull(toy["a"]).sum() # a kolonunda missing veri sayısı

1

In [11]:
from pandas.api.types import is_numeric_dtype
def fix_missing(df,col,name):
    if is_numeric_dtype(col):
        if pd.isnull(col).sum:
            df[name+"_na"] = pd.isnull(col) #ilgili veriler için yeni kolon oluştur sonu _na olacak şekilde
        df[name] = col.fillna(col.median()) #Eksik değerleri, sütunun ortanca değeri ile doldurur. Bu, eksik değerleri sayısal sütunun ortancasıyla doldurarak veri kaybını azaltmayı amaçlar.

<h1>Örnek yapalım</h1>

In [12]:
df["MachineHoursCurrentMeter"].isnull().sum()

258360

**25bin eksik veri var**

In [13]:
fix_missing(df,df["MachineHoursCurrentMeter"],"MachineHoursCurrentMeter")

In [14]:
df["MachineHoursCurrentMeter"].isnull().sum()

0

<h1>Çalıştı</h1>

In [15]:
df["MachineHoursCurrentMeter_na"]

0         False
1         False
2         False
3         False
4         False
          ...
401120     True
401121     True
401122     True
401123     True
401124     True
Name: MachineHoursCurrentMeter_na, Length: 401125, dtype: bool

**İlgili kolonu da oluşturmuş. Hangi verilerin olmadığına dair bir kolon**